<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add new movie</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<h1>{{user.name}}, add a new movie!</h1>
	<nav>
		<a href="/user/{{user.id}}"><button>Back to movies</button></a>
	</nav>
	
	{% if message is defined and message|length %}
	<p>{{message}}</p>
	{% endif %}
	<form action="/users/{{user.id}}/add-movie" method="post">
		<input type="text" placeholder="Movie title" name="title" required>
		<input type="number" placeholder="Release year" name="year">
		<input type="submit" value="Add a movie">
	</form>

	{% if movies is defined and movies|length %}
	<section class="user-movies grid">
		{% for movie in movies %}

			<div class="movie">
				<h4>{{movie.title}}</h4>
				<p>{{movie.year}}</p>
				<div class="buttons">
				<a href="/users/{{user.id}}/add-other-movie/{{movie.id}}"><button>Add movie</button></a>
				</div>
			</div>

		{% endfor %}
	</section>

	{% endif %}

</body>
</html>