<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{user.name}}'s Movies</title>
</head>
<body>
	<h1>{{user.name}}'s movies</h1>
	<ul>
		{% for movie in movies %}
			<li>{{movie.title}}</li>
			<button><a href="/users/{{user.id}}/delete_movie/{{movie.id}}">Delete movie</a></button>
			<button><a href="/users/{{user.id}}/update_movie/{{movie.id}}">Update movie</a></button>
		{% endfor %}
	</ul>
	<button><a href="/users/{{user.id}}/add-movie">Add new movie</a></button>
</body>
</html>