<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{user.name}}'s Movies</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<h1>{{user.name}}'s movies</h1>

	{% if message is defined and message|length %}
	
	<p>{{message}}</p>
	
	{% endif %}

	<ul class="user-movies">
		{% for movie in movies %}
			<li>{{movie.title}}</li>
			<a href="/users/{{user.id}}/delete_movie/{{movie.id}}"><button>Delete movie</button></a>
			<a href="/users/{{user.id}}/update_movie/{{movie.id}}"><button>Update movie</button></a>
		{% endfor %}
	</ul>
	<a href="/users/{{user.id}}/add-movie"><button>Add new movie</button></a>
	<br><br>
	<a href="/users"><button>Back to user list</button></a>
</body>
</html>